.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--colorGreyLight2);
    box-shadow: var(--shadowDark);

    min-height: 50rem;

    @mixin atLargest {
        margin: 0;
        max-width: 100%;
        width:100%;
    }
}