.site-hotel-view {
    background-color:var(--colorWhite);
    flex:1;

    &__gallery {
        display: flex;

        &--photo {
            width: 100%;
            display: block;
        }

        &--item {
            margin: 0;
        }
    }

    &__overview {
        display: flex;
        align-items: center;
        border-bottom:  var(--line);

        


        &--heading {
            font-size: 2.25rem;
            font-weight:300;
            text-transform:uppercase;
            letter-spacing:1px;
            padding:1.5rem 3rem;

            @mixin atSmall{
                font-size: 1.8rem;
                padding: 1.25rem 2rem;
             }
        }

        &--stars {
            margin-right: auto; 
            display: flex;
        }

        &--icon-star,
        &--icon-location {
            width:1.75rem;
            height: 1.75rem;
            fill: var(--colorPrimary);
        }

        &--location {
            font-size: 1.2rem;
            display: flex;
            align-items: center;
        }

        &--icon-location {
            margin-right: .5rem;
        }

        &--rating {
            background-color: var(--colorPrimary);
            margin-left: 3rem;
            color: var(--colorWhite);
            align-self: stretch;
            padding: 0 2.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @mixin atSmall{
                padding:0 1.5rem;
             }
        }

        &--rating-average {
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -3px;

            @mixin atSmall{
                font-size: 1.8rem;
             }
        }

        &--rating-count {   
            font-size: .8rem;
            text-transform: uppercase;
            
            @mixin atSmall{
                font-size: .5rem;
             }
            
        }

        &--btn-inline {
            border: none;
            color: var(--colorPrimary);
            font-size: inherit;
            border-bottom: 1px solid currentColor;
            padding-bottom: 2px;
            display: inline-block;
            background-color: transparent;
            cursor: pointer;
            transition: all .2s;

            & span {
                margin-left: 3px;
                transition:margin-left .2s; 
            }

            &:hover {
                color: var(--colorGreyDark1);

                span {
                    margin-left:8px;
                }
            }
            

            &:focus {
                outline: none;
                animation:pulsate 1s infinite;
            }

        }
    }

}
 
@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}


.site-hotel-view {

    &__detail {
        font-size:1.4rem;
        display: flex;
        padding:4.5rem;
        background-color: var(--colorGreyLight1);
        border-bottom: var(--line);

        @mixin atMedium {
            padding:3rem;
         }

         @mixin atSmall{
            flex-direction:column;
         }
        
        
    }

    &__description {
        background-color: var(--colorWhite);
        box-shadow: var(--shadowLight);
        padding: 3rem;
        flex: 0 0 60%;
        margin-right: 4.5rem;

        @mixin atMedium{
            padding:2rem;
            margin-right: 3rem;
         }

         @mixin atSmall{
            margin:0;
            margin-bottom:3rem;
         }

        &--paragraph:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        &--list {
            list-style: none;
            margin: 3rem 0;
            padding: 3rem 0;
            border-top: var(--line);
            border-bottom: var(--line);

            display: flex;
            flex-wrap: wrap;

            &__item {
                flex:0 0 50%;
                margin-bottom: .7rem;
            }

            &__item:before {
                content:"";
                display: inline-block;
                height: 1rem;
                width:1rem;
                margin-right: .7rem;

                /*older browsers
                background-image: url(../../assets/images/chevron-thin-right.svg);
                background-size: cover;*/

                /*new browsers --masks*/
                background-color: var(--colorPrimary);
                -webkit-mask-image: url(../../assets/images/chevron-thin-right.svg);
                -webkit-mask-size:cover;


            }
        }

      

        &--recommend {
            font-size: 1.3rem;
            color: var(--colorGreyDark3);

            display: flex;
            align-items: center;

            &__friends {
                display: flex;
            }
            

            &__photo {
                box-sizing: content-box;
                height: 4rem;
                width: 4rem;
                border-radius: 50%;
                border: 3px solid var(--colorWhite);

                &:not(:last-child) {
                    margin-right: -2rem;
                    
                }
            }

            &__count {
                margin-right: auto;
            }
        }
               
    }

    &__user-reviews {
        flex:1;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        
    }

    &__review {
        background-color: var(--colorWhite);
        box-shadow: var(--shadowLight);
        padding: 3rem;
        margin-bottom: 3.5rem;
        position: relative;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;

        @mixin atMedium{
            padding:2rem;
            margin-bottom: 3rem;
         }
        

        &__text {
            margin-bottom: 2rem;
            z-index: 10;
            position: relative;
        }

        &__user {
            display: flex;
            align-items: center;

            &-box {
                margin-right:auto;
            }
    
            &-name {
                font-size: 1.1rem;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: .4rem;

            }
    
            &-date {
                font-size: 1rem;
                color: var(--colorGreyDark3);
            }
        }

        &__photo {
            height: 4.5rem;
            width: 4.5rem;
            border-radius: 50%;
            margin-right: 1.5rem;
            
        }

        &__rating {
            color: var(--colorPrimary);
            font-size: 2.2rem;
            font-weight: 300;
        }

        &::before {
            content: "\201C";
            position: absolute;
            top: -2.75rem;
            left: -1rem;
            line-height: 1;
            font-size: 20rem;
            color: var(--colorGreyLight2);
            font-family: sans-serif;
            z-index: 1;
        }
    }
    
}

